@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
:root {
    --cor-principal: #50c035;
    --cor-secundaria: #8400ff;
    --cor-texto: #ee1a61;
    --cor-de-fundo: #d44949;
    --font:"Sofadi One", system-ui;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

.cabecalho{
    background-color: var(--cor-secundaria);
    text-align: center;
}